---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #049aba;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

#home {
	#donation-btn {
		margin-top: 2rem;
		padding-left: 50px;
		padding-right: 50px;
	}
	.header-content {
		z-index: 11;
	}
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.color-black {
	color: black;
}
.slogan-text {
	img {
		margin-bottom: 2em;
	}
	.second {
		color: #389116;
	}
}
.text-secondary {
	color: #389116;
}
#imagepreview {
	width: 800px; 
	height: auto;
}
.wrapper {
	width: 800px;
	background-image: url("/img/Phases.png");
	background-size: contain;
	border: 2px solid black;
	--pieces-width: 800px;
	.image-canvas {
		height: calc(var(--pieces-width) * (405 / 720));
		overflow: hidden;
		width: var(--pieces-width);
		position: relative;
	}
	.pieces {
		display: flex;
		flex-wrap: wrap;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.not-visible {
		-khtml-opacity: 0;
		-moz-opacity: 0;
		-webkit-opacity: 0;
	}
}
.services-desktop {
	display: none;
}
.call-to-action-desktop {
	display: none;
}
.services-mobile {
	display: block;
}
.call-to-action-mobile {
	display: block;
	i {
		color: white;
	}
	.panel {
		border: 3px solid transparent;
	}
	.panel-heading {
		background-color: $theme-primary;
		border: none;
	}
	.panel-body {
		background-color: $theme-primary;
	}
}
.navbar-brand {
	padding-top: 0;
	padding-left: 20px;
	.nav-logo {
		max-height: 48px;
	}
}
#animation {
	padding-bottom: 100px;
	.pt-3 {
		padding-top: 2em;
	}
	.pb-4 {
		padding-bottom: 3em;
	}
}

#services {
	i {
		margin-top: 20px;
	}
	.mb {
		margin-bottom: 2em;
	}
	.text-bold {
		font-weight: 600;
	}
	.panel-heading {
		background-color: unset;
		border-color: unset;
	}
}
@media(max-width: 786px) {
	header {
		background-position-x: center;
		background-position-y: top;
		.header-content-inner img {
			position: relative;
			top: -100px;
			left: -25vw;
			width: 175px;
		}
		.slogan-text {
			.first {
				font-size: 30px !important;
			}
			.second {
				font-size: 30px !important;
			}
			position: relative;
			top: 10vh;
			background-color: white;
			border-radius: 20px;
			padding: 20px 5px;
			border: 2px solid black;
		}
		.donate-wrapper {
			position: relative;
			top: 15vh;
		}

	}
	#imagepreview {
		width: 85vw;
		height: auto;
	}
	#portfolio div.col-lg-4 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.wrapper {
		width: calc(100vw - 30px);
		--pieces-width: calc(100vw - 30px);
		overflow-x: hidden;
		.image-canvas {
			height: calc(var(--pieces-width) * (405 / 720));
			overflow: hidden;
			width: var(--pieces-width);
			position: relative;
		}
		.pieces {
			display: flex;
			flex-wrap: wrap;
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: 0 0;
		}
	}
}

@media(min-width: 992px) {
	.services-desktop {
		display: block;
	}
	.call-to-action-desktop {
		display: block;
	}
	.services-mobile {
		display: none;
	}
	.call-to-action-mobile {
		display: none;
	}
	.slogan-text {
		.first {
			font-size: 40px !important;
		}
		.second {
			font-size: 50px !important;
			letter-spacing: 11px;
		}
	}
}
