<div class="bg-primary" id="animation">
    <div class="container">
    	<div class="text-center">
    		<h3>Hier sehen Sie den Fortschritt des Projektes:</h3>
    	</div>
    	<div class="row">
			<div class="col-12 col-lg-offset-2 col-lg-8 pt-3 pb-4">
				<div class="row">
					<div class="col-xs-4 col-lg-3">
						<div id="progress-container-1"></div>
					</div>
					<div class="col-xs-8 col-lg-9 align-items-center">
						<strong>Phase 1:</strong> <br>
						Bau von 2 Klassenzimmern (mit Schulbänken) und 1 Lehrerzimmer <br>
						<br>
						<div id="phase1"></div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-offset-2 col-lg-8 pb-4">
				<div class="row">
					<div class="col-xs-4 col-lg-3">
						<div id="progress-container-2"></div>
					</div>
					<div class="col-xs-8 col-lg-9">
						<strong>Phase 2:</strong> <br>
						Bau von 3 Klassenzimmern und Lieferung von Möbeln (Schreibtische und Tische)
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-offset-2 col-lg-8 pb-4">
				<div class="row">
					<div class="col-xs-4 col-lg-3">
						<div id="progress-container-3"></div>
					</div>
					<div class="col-xs-8 col-lg-9">
						<strong>Phase 3:</strong> <br>
						Renovierung von 7 Klassenzimmern und einem Wasser Tank
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-offset-2 col-lg-8 pb-4">
				<div class="row">
					<div class="col-xs-4 col-lg-3">
						<div id="progress-container-4"></div>
					</div>
					<div class="col-xs-8 col-lg-9">
						<strong>Phase 4:</strong> <br>
						Bau eines Toilettenblocks mit 18 Grubenlatrinen
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-offset-2 col-lg-8 pb-4">
				<div class="row">
					<div class="col-xs-4 col-lg-3">
						<div id="progress-container-5"></div>
					</div>
					<div class="col-xs-8 col-lg-9">
						<strong>Phase 5:</strong> <br>
						Erneuerung des Regenwassertanks und Installation von Regenrinnen für die Regenwassernutzung
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
