<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Über uns</h2>
                <hr class="light">
                <div class="call-to-action-desktop">
                    <p class="text-faded">wir, Djam Djoudi, Peter Kurda und Thomas Ludewig, ergreifen die Gelegenheit und erfüllen uns einen schon lange gehegten Herzenswunsch. Wir helfen nachhaltig, und unterstützen ein wirklich gutes Bildungsprojekt in Komolo, in der Republik Tansania. Die dortige Schule werden wir in mehreren Stufen ausbauen, das Vorhandene sanieren und damit einen Grundstein für eine bessere Zukunft der Kinder und dortigen Gesellschaft legen.
                    </p>
                </div>
                <div class="call-to-action-mobile">
                    <div class="panel-group" id="accordion-aboutus" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne-aboutus">
                              <div class="panel-title text-center">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-aboutus" aria-expanded="false" aria-controls="collapseOne-aboutus"><i class="fa fa-4x fa-users wow bounceIn"></i>
                                </a>
                              </div>
                            </div>
                            <div id="collapseOne-aboutus" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne-aboutus">
                                <div class="panel-body">
                                    <p class="text-faded">wir, Djam Djoudi, Peter Kurda und Thomas Ludewig, ergreifen die Gelegenheit und erfüllen uns einen schon lange gehegten Herzenswunsch. Wir helfen nachhaltig, und unterstützen ein wirklich gutes Bildungsprojekt in Komolo, in der Republik Tansania. Die dortige Schule werden wir in mehreren Stufen ausbauen, das Vorhandene sanieren und damit einen Grundstein für eine bessere Zukunft der Kinder und dortigen Gesellschaft legen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
