<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projekt</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="services-desktop">
        <div class="container">
            <div class="row">
                <div class="col-md-2 mb">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary"></i>
                </div>
                <div class="col-md-10 mb">
                    <h3 class="text-bold">Bildung für Mädchen wie Jungs</h3>
                    <p class="text-muted">Wir werden die Grundschule der Gemeinde Kinder Komolo in Tansania ausbauen. Die Hälfte der Schüler(innen) sind Mädchen. Neben der Chancengleichheit ist es Fakt, dass besonders Mütter mit Schulbildung in Familien wesentlich auf die Ausbildung der ­Kinder achten und somit die Basis für deren Chancen und die weiterer Generationen legen.
                        <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a></p>
                </div>
                <div class="col-md-2 mb">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
                </div>
                <div class="col-md-10 mb">
                    <h3 class="text-bold">Kulturelle Vielfalt</h3>
                    <p class="text-muted">Das Verhältnis aller in Tansania gelebten Religionen ist an dieser Schule ausgewogen. Das ist ein weiterer Baustein die Bildung zur kulturellen Teilhabe genau hier zu fördern.
                    <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a></p>
                </div>
                <div class="col-md-2 mb">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                </div>
                <div class="col-md-10 mb">
                    <h3 class="text-bold">Langfristige, nachhaltige Zusammenarbeit:</h3>
                    <p class="text-muted">Wir wollen nicht einmal spenden und diese Menschen dann vergessen. Es ist ein mehrstufiges Vorhaben.
                    <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a></p>
                </div>
                <div class="col-md-2 mb">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
                </div>
                <div class="col-md-10 mb">
                    <h3 class="text-bold">Alle Spenden fließen zu 100 % in die Projekte:</h3>
                    <p class="text-muted">Es fallen keine Verwaltungskosten an. Diese werden über Sponsoren bzw. Reiner Meutsch privat abgedeckt.
                    <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="services-mobile">
        <div class="container">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <div class="panel-title text-center">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <i class="fa fa-4x fa-book wow bounceIn text-primary"></i> <h3 class="text-bold text-primary">Bildung für Mädchen wie Jungs</h3>
                        </a>
                      </div>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            Wir werden die Grundschule der Gemeinde Kinder Komolo in Tansania ausbauen Die Hälfte der Schüler(innen) sind Mädchen. Neben der Chancengleichheit ist es Fakt, dass besonders Mütter mit Schulbildung in Familien wesentlich auf die Ausbildung der ­Kinder achten und somit die Basis für deren Chancen und die weiterer Generationen legen.
                            <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <div class="panel-title text-center">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                          <h3 class="text-bold text-primary">Kulturelle Vielfalt</h3>
                        </a>
                      </div>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            Das Verhältnis aller in Tansania gelebten Religionen ist an dieser Schule ausgewogen. Das ist ein weiterer Baustein die Bildung zur kulturellen Teilhabe genau hier zu fördern.
                            <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <div class="panel-title text-center">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                          <h3 class="text-bold text-primary">nachhaltige Hilfe</h3>
                        </a>
                      </div>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            Wir wollen nicht einmal spenden und diese Menschen dann vergessen. Es ist ein mehrstufiges Vorhaben.
                            <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title text-center">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          <i class="fa fa-4x fa-money wow bounceIn text-primary"></i>
                          <h3 class="text-bold text-primary">100% in Hilfsprojekte</h3>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            Es fallen keine Verwaltungskosten an. Diese werden über Sponsoren bzw. Reiner Meutsch privat abgedeckt.
                            <a href="/downloads/Flyer_TanSAARnia.pdf" target="_blank">Hier erfahren Sie mehr</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>
